@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

:root {
  --mountain-meadow: #1eb98a;
  --green-yellow: #bcf236;
  --concrete: #f2f2f2;
  --dove-gray: #616161;
  --boulder: #777;
  --emperor: #515151;
  --nobel: #b7b7b7;
  --alabaster: #fcfcfc;
  --white: #fff;
  --silver: #ccc;
  --tom-thumb: #2a492f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  background-color: var(--concrete);
}

.container {
  height: 100%;
}

.header {
  background-color: var(--mountain-meadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.help {
  cursor: pointer;
  text-decoration: none;
  color: var(--concrete);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
}

.main h1 {
  color: var(--dove-gray);
  margin-bottom: 50px;
  max-width: 600px;
  line-height: 34px;
  text-align: center;
}

.form {
  display: flex;
  margin-bottom: 50px;
}

.field-group {
  display: flex;
  margin-bottom: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-group .field:first-child {
  margin-right: 30px;
}

.field label {
  color: var(--dove-gray);
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.field select,
.field input[type="number"] {
  color: var(--emperor);
  border: 1px solid var(--nobel);
  background-color: var(--alabaster);
  border-radius: 4px;
  padding: 10px 5px;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}
.range {
  transform: translateY(15px);
}

.range__values {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  font-weight: 100;
}

.footer {
  font-size: 0.6rem;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.form__result {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px -5px 2px -1px var(--silver);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 35%;
  margin-left: 35px;
}

.form__result h4 {
  color: var(--boulder);
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 3px;
}

.form__result p {
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
}

.quota__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quota__container h4 {
  font-weight: 200;
  font-size: 18px;
}

.quota strong {
  font-size: 21px;
  color: var(--dove-gray);
}

.quota span {
  font-size: 28px;
  color: var(--mountain-meadow);
  font-weight: bold;
}

.button {
  background-color: var(--green-yellow);
  border: none;
  padding: 10px 0;
  width: 100%;
  color: var(--tom-thumb);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 630px) {
  .main {
    height: auto;
    margin: 30px 0;
    padding: 0 10%;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .form__fields {
    margin-bottom: 30px;
  }

  .form__result {
    width: 200px;
    height: 250px;
    margin-left: 0;
  }
}
